<p id="notice"><%= notice %></p>

<h2>
  <%= @team.name %> <%= @team.mascot %>
</h2>

<h2>Current Tags:</h2>
<% @team.tags.each do |tag| %>
  <%= tag.kind %>: <%= tag.name %> - <%= link_to 'Remove', remove_tag_path(@team,tag), :method => :post %><br/>
<% end %>

<h2>Possible Tags:</h2>
<% saved_kind = '' %>
<% @tags.each do |tag| %>
  <% if saved_kind != tag.kind %>
  <strong><%= tag.kind %>'s:</strong><br/>
  <% end %>  <% saved_kind = tag.kind %>
--<%= link_to tag.name, add_tag_path(@team,tag), :method => :post %><br/>
<% end %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
