<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.team.name if user.team %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit Info', edit_user_path(user) %></td>
    <td><%= link_to 'Delete Account', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

