<h1>Listing tournaments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tournaments.each do |tournament| %>
  <tr>
    <td><%= tournament.name %></td>
    <td><%= tournament.user.name unless tournament.user.nil? %></td>
    <td><%= tournament.title %></td>
    <td><%= tournament.content %></td>
    <td><%= link_to 'Show', user_tournament_path(@user,tournament) %></td>
    <td><%= link_to 'Edit', edit_user_tournament_path(@user,tournament) %></td>
    <td><%= link_to 'Destroy', user_tournament_path(@user,tournament), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tournament', new_user_tournament_path(@user) %>
