<div class="light">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tournament.name %>
</p>

<p>
  <b>Title:</b>
  <%= @tournament.title %>
</p>
<p>
  <b>User:</b>
  <%= @tournament.user.name unless @tournament.user.nil?%>
</p>
<p>
  <b>Content:</b>
  <%= @tournament.content %>
</p>

<% @games.each do |game| %>
  <% game.teams.each do |team| %>
    <%= team.name %>
  <% end %>
<% end %>
<h2>NOT NEEDED?? Current Tags:</h2>
<%# @tournament.tags.each do |tag| %>
  <%#= tag.name %> <%#= link_to 'Remove', remove_tournament_tag_path(@tournament,tag), :method => :post %><br/>
<%# end %>

<h2>NOT NEEDED?? Possible Tags:</h2>
<%# @tags.each do |tag| %>
  <%#= link_to tag.name, add_tournament_tag_path(@tournament,tag), :method => :post %><br/>
<%# end %>

<% winner = [] %>
<% winner[0] = Team.winner([1,16],@user) %>
<% winner[1] = Team.winner([2,15],@user) %>
<% winner[2] = Team.winner([3,14],@user) %>
<% winner[3] = Team.winner([4,13],@user) %>
<% winner[4] = Team.winner([5,12],@user) %>
<% winner[5] = Team.winner([6,11],@user) %>
<% winner[6] = Team.winner([7,10],@user) %>
<% winner[7] = Team.winner([8,9],@user) %>
<% winner[8] = Team.winner([winner[0],winner[7]],@user) %>
<% winner[9] = Team.winner([winner[1],winner[6]],@user) %>
<% winner[10] = Team.winner([winner[2],winner[5]],@user) %>
<% winner[11] = Team.winner([winner[3],winner[4]],@user) %>
<% winner[12] = Team.winner([winner[8],winner[11]],@user) %>
<% winner[13] = Team.winner([winner[10],winner[9]],@user) %>
<% winner[14] = Team.winner([winner[12],winner[13]],@user) %>


<table>
<tr>
  <td class="bb"><%= Team.find_by_seed(1).n %></td><td></td><td></td><td></td><td></td>
</tr>
<tr>
  <td class="br"></td><td class="bb"><%= Team.find(winner[0]).n %></td><td></td><td></td><td></td>
</tr>
<tr>
  <td class="bb br"><%= Team.find_by_seed(16).n %></td><td class="br"></td><td></td><td></td><td></td>
</tr>
<tr>
  <td></td><td class="br"></td><td class="bb"><%= Team.find(winner[8]).n %></td><td></td><td></td>
</tr>
<tr>
  <td class="bb"><%= Team.find_by_seed(8).n %></td><td class="br"></td><td class="br"></td><td></td><td></td>
</tr>
<tr>
  <td class="br"></td><td class="bb br"><%= Team.find(winner[7]).n %></td><td class="br"></td><td></td><td></td>
</tr>
<tr>
  <td class="bb br"><%= Team.find_by_seed(9).n %></td><td></td><td class="br"></td><td></td><td></td>
</tr>
<tr>
  <td class=""></td><td></td><td class="br"></td><td class="bb"><%= Team.find(winner[12]).n %></td><td></td>
</tr>
<tr>
  <td class="bb"><%= Team.find_by_seed(5).n %></td><td></td><td class="br"></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="br"></td><td class="bb"><%= Team.find(winner[4]).n %></td><td class="br"></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="bb br"><%= Team.find_by_seed(12).n %></td><td class="br"></td><td class="br"></td><td class="br"></td><td></td>
</tr>
<tr>
  <td ></td><td class="br"></td><td class="bb br"><%= Team.find(winner[11]).n %></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="bb"><%= Team.find_by_seed(4).n %></td><td class="br"></td><td></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="br"></td><td class="bb br"><%= Team.find(winner[3]).n %></td><td></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="bb br"><%= Team.find_by_seed(13).n %></td><td></td><td></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class=""></td><td></td><td></td><td class="br"></td><td class="bb"><%= Team.find(winner[14]).n %></td>
</tr>
<tr>
  <td class="bb"><%= Team.find_by_seed(6).n %></td><td></td><td></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="br"></td><td class="bb"><%=  Team.find(winner[5]).n %></td><td></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="bb br"><%= Team.find_by_seed(11).n %></td><td class="br"></td><td></td><td class="br"></td><td></td>
</tr>
<tr>
  <td ></td><td class="br"></td><td class="bb"><%= Team.find(winner[10]).n %></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="bb"><%= Team.find_by_seed(3).n %></td><td class="br"></td><td class="br"></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="br"></td><td class="bb br"><%=  Team.find(winner[2]).n %></td><td class="br"></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="bb br"><%= Team.find_by_seed(14).n %></td><td></td><td class="br"></td><td class="br"></td><td></td>
</tr>
<tr>
  <td ></td><td></td><td class="br"></td><td class="bb br"><%= Team.find(winner[13]).n %></td><td></td>
</tr>
<tr>
  <td class="bb"><%= Team.find_by_seed(7).n %></td><td></td><td class="br"></td><td></td><td></td>
</tr>
<tr>
  <td class="br"></td><td class="bb"><%= Team.find(winner[6]).n %></td><td class="br"></td><td></td><td></td>
</tr>
<tr>
  <td class="bb br"><%= Team.find_by_seed(10).n %></td><td class="br"></td><td class="br"></td><td></td><td></td>
</tr>
<tr>
  <td></td><td class="br"></td><td class="bb br"><%=  Team.find(winner[9]).n %></td><td></td><td></td>
</tr>
<tr>
  <td class="bb"><%= Team.find_by_seed(2).n %></td><td class="br"></td><td></td><td></td><td></td>
</tr>
<tr>
  <td class="br"></td><td class="bb br"><%= Team.find(winner[1]).n %></td><td></td><td></td><td></td>
</tr>
<tr>
  <td class="bb br"><%= Team.find_by_seed(15).n %></td><td></td><td></td><td></td><td></td>
</tr>
</table>
<%= link_to 'Edit', edit_user_tournament_path(@user,@tournament) %> |
<%= link_to 'Back', user_tournaments_path(@user) %>
</div>
