<h3>Build your bracket by answering a filling out this profile.</h3><br/>

<div class="questions">

<form id="questions-form" class="edit-questions" method="post" action="<%= tournament_questions_path(@tournament) %>" data-remote="true" >
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
Hi my name is <%= @user.name %>.  
My favorite team is the <%= @user.team.name + " " + @user.team.mascot %>.
The best state in the US is <%= select(:tag, :state, Tag.find_all_by_kind("State").collect{|t| [ t.name,t.id]}, :selected => @tournament.tag_by_kind("State")) %>. 
I think a 
<%= select(:tag, :animal, Tag.find_all_by_kind("Animal").collect{|t| [ t.name,t.id]}, :selected => @tournament.tag_by_kind("Animal")) %> would win in a fight of all animals!
My favorite color is <%= select(:tag, :color, Tag.find_all_by_kind("Color").collect{|t| [ t.name,t.id]}, :selected => @tournament.tag_by_kind("Color")) %>.
The best basketball conference in America is the <%= select(:tag, :conference, Tag.find_all_by_kind("Conference").collect{|t| [ t.name,t.id]}, :selected => @tournament.tag_by_kind("Conference")) %>.
I believe in <%= select(:tag, :diety, Tag.find_all_by_kind("Deity").collect{|t| [ t.name,t.id]}, :selected => @tournament.tag_by_kind("Deity")) %>.
Yeehaw! I want to be a <%= select(:tag, :person, Tag.find_all_by_kind("Person").collect{|t| [ t.name,t.id]}, :selected => @tournament.tag_by_kind("Person")) %>.
<br/><input type="submit">
</form>
</div>
<br/>


<%# @tournament.tags.each do |tag| %>
  <%#= tag.name %> <%#= link_to 'Remove', remove_tournament_tag_path(@tournament,tag), :method => :post, :remote => "true" %><br/>
<%# end %>

<%# @tags.each do |tag| %>
  <%#= link_to tag.name, add_tournament_tag_path(@tournament,tag), :method => :post, :remote => "true" %><br/>
<%# end %>

