<p id="notice"><%= notice %></p>

<div class="bracket-title">
<b>Bracket Name:</b> 
<% if current_user == @user %>
<%= link_to @tournament.title, edit_user_tournament_path(@user,@tournament) %>
<% else %>
<%= @tournament.title %>
<% end %>
<% if current_user == @user %>
| <%= link_to 'Rebuild Bracket', tournament_redo_url(@tournament), :method => 'post' if current_user == @user %>
<% end %>
<br/><br/>
<b><%= @tournament.user.email %></b> likes the <%= @tournament.user.team.name + " " + @tournament.user.team.mascot %> and <%= @tournament.tags.collect{|t| t.name }.to_sentence %><%# CHANGE TO NAME LATER %>
</div>
<div class="bracket-container">
<table class="bracket">
<tr>
  <td class="bb"><%= @tournament.games[17].teams[0].n %></td><td></td><td></td><td></td><td></td><td></td><td></td></td><td></td><td></td><td></td><td></td><td></td><td class="bb"><%= @tournament.games[1].teams[0].n %></td>
</tr>
<tr>
  <td class="br"></td><td class="bb"><%= @tournament.games[17].info %></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="bb"><%= @tournament.games[1].info %></td><td class="bl"></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[17].teams[1].n %></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="bl"><td class="bb bl"><%= @tournament.games[1].teams[1].n %></td>
</tr>
<tr>
  <td></td><td class="br"></td><td class="bb"><%= @tournament.games[25].info %></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="bb"><%= @tournament.games[9].info %></td><td class="bl"></td><td class=""></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[24].teams[0].n %></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td class="bb"><%= @tournament.games[8].teams[0].n %></td>
</tr>
<tr>
  <td class="br"></td><td class="bb br"><%= @tournament.games[24].info %></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td class="bb bl"><%= @tournament.games[8].info %></td><td class="bl"></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[24].teams[1].n %></td><td></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td></td><td class="bb bl"><%= @tournament.games[8].teams[1].n %></td>
</tr>
<tr>
  <td class=""></td><td></td><td class="br"></td><td class="bb"><%= @tournament.games[29].info %></td><td></td><td></td><td></td><td></td><td></td><td class="bb"><%= @tournament.games[13].info %></td><td class="bl"></td><td></td><td class=""></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[21].teams[0].n %></td><td></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td></td><td class="bb"><%= @tournament.games[5].teams[0].n %></td>
</tr>
<tr>
  <td class="br"></td><td class="bb"><%= @tournament.games[21].info %></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td class="bb"><%= @tournament.games[5].info %></td><td class="bl"></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[21].teams[1].n %></td><td class="br"></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td class="bl"></td><td class="bb bl"><%= @tournament.games[5].teams[1].n %></td>
</tr>
<tr>
  <td ></td><td class="br"></td><td class="bb br"><%= @tournament.games[28].info %></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td class="bb bl"><%= @tournament.games[12].info %></td><td class="bl"></td><td ></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[20].teams[0].n %></td><td class="br"></td><td></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td></td><td class="bl"></td><td class="bb"><%= @tournament.games[4].teams[0].n %></td>
</tr>
<tr>
  <td class="br"></td><td class="bb br"><%= @tournament.games[20].info %></td><td></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td></td><td class="bb bl"><%= @tournament.games[4].info %></td><td class="bl"></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[20].teams[1].n %></td><td></td><td></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td></td><td></td><td class="bb bl"><%= @tournament.games[4].teams[1].n %></td>
</tr>
<tr>
  <td class=""></td><td></td><td class="division br" COLSPAN="2"><div class="division left">MIDWEST</div></td><td class="bb"><%= @tournament.games[31].info %></td><td></td><td></td><td></td><td class="bb"><%= @tournament.games[15].info %></td><td class="bl" COLSPAN="2"><div class="division right">EAST</div></td><td></td><td class=""></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[22].teams[0].n %></td><td></td><td></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td></td><td></td><td class="bb"><%= @tournament.games[6].teams[0].n %></td>
</tr>
<tr>
  <td class="br"></td><td class="bb"><%= @tournament.games[22].info %></td><td></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td></td><td class="bb"><%= @tournament.games[6].info %></td><td class="bl"></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[22].teams[1].n %></td><td class="br"></td><td></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td></td><td class="bl"></td><td class="bb bl"><%= @tournament.games[6].teams[1].n %></td>
</tr>
<tr>
  <td ></td><td class="br"></td><td class="bb"><%= @tournament.games[27].info %></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td class="bb"><%= @tournament.games[11].info %></td><td class="bl"></td><td ></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[19].teams[0].n %></td><td class="br"></td><td class="br"></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td class="bl"></td><td class="bl"></td><td class="bb"><%= @tournament.games[3].teams[0].n %></td>
</tr>
<tr>
  <td class="br"></td><td class="bb br"><%= @tournament.games[19].info %></td><td class="br"></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td class="bl"></td><td class="bb bl"><%= @tournament.games[3].info %></td><td class="bl"></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[19].teams[1].n %></td><td></td><td class="br"></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td class="bl"></td><td></td><td class="bb bl"><%= @tournament.games[3].teams[1].n %></td>
</tr>
<tr>
  <td ></td><td></td><td class="br"></td><td class="bb br"><%= @tournament.games[30].info %></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td class="bb bl"><%= @tournament.games[14].info %></td><td class="bl"></td><td ></td><td></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[23].teams[0].n%></td><td></td><td class="br"></td><td></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td></td><td class="bl"></td><td></td><td class="bb"><%= @tournament.games[7].teams[0].n%></td>
</tr>
<tr>
  <td class="br"></td><td class="bb"><%= @tournament.games[23].info %></td><td class="br"></td><td></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td></td><td class="bl"></td><td class="bb"><%= @tournament.games[7].info %></td><td class="bl"></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[23].teams[1].n %></td><td class="br"></td><td class="br"></td><td></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td></td><td class="bl"></td><td class="bl"></td><td class="bb bl"><%= @tournament.games[7].teams[1].n %></td>
</tr>
<tr>
  <td></td><td class="br"></td><td class="bb br"><%= @tournament.games[26].info %></td><td></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td></td><td class="bb bl"><%= @tournament.games[10].info %></td><td class="bl"></td><td></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[18].teams[0].n %></td><td class="br"></td><td></td><td></td><td class="br"></td><td></td><td class="bl bb br bt <%= "upset" if @tournament.games[66].is_user_assisted_win?  %>"><%= @tournament.games[66].info %></td><td></td><td class="bl"></td><td></td><td></td><td class="bl"></td><td class="bb"><%= @tournament.games[2].teams[0].n %></td>
</tr>
<tr>
  <td class="br"></td><td class="bb br"><%= @tournament.games[18].info %></td><td></td><td></td><td class="br"></td><td></td><td class="bl"></td><td class="bl"></td><td class="bl"></td><td></td><td></td><td class="bb bl"><%= @tournament.games[2].info %></td><td class="bl"></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[18].teams[1].n %></td><td></td><td></td><td></td><td class="br"></td><td></td><td class="bl"></td><td class="bl"></td><td class="bl"></td><td></td><td></td><td></td><td class="bb bl"><%= @tournament.games[2].teams[1].n %></td>
</tr>

<tr>
  <td class=""></td><td></td><td></td><td></td><td class="br"></td><td class="bb"><%= @tournament.games[65].info %></td><td class="bl"></td><td class="bl bb <%= "upset" if @tournament.games[64].is_user_assisted_win?  %>"><%= @tournament.games[64].info %></td><td class="bl"></td><td></td><td></td><td></td><td class=""></td>
</tr>


<tr>
  <td class="bb"><%= @tournament.games[49].teams[0].n %></td><td></td><td></td><td></td><td class="br"></td><td></td><td></td></td><td></td><td class="bl"></td><td></td><td></td><td></td><td class="bb"><%= @tournament.games[33].teams[0].n %></td>
</tr>
<tr>
  <td class="br"></td><td class="bb"><%= @tournament.games[49].info %></td><td></td><td></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td></td><td></td><td class="bb"><%= @tournament.games[33].info %></td><td class="bl"></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[49].teams[1].n %></td><td class="br"></td><td></td><td></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td></td><td></td><td class="bl"><td class="bb bl"><%= @tournament.games[33].teams[1].n %></td>
</tr>
<tr>
  <td></td><td class="br"></td><td class="bb"><%= @tournament.games[57].info %></td><td></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td></td><td class="bb"><%= @tournament.games[41].info %></td><td class="bl"></td><td class=""></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[56].teams[0].n %></td><td class="br"></td><td class="br"></td><td></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td></td><td class="bl"></td><td class="bl"></td><td class="bb"><%= @tournament.games[40].teams[0].n %></td>
</tr>
<tr>
  <td class="br"></td><td class="bb br"><%= @tournament.games[56].info %></td><td class="br"></td><td></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td></td><td class="bl"></td><td class="bb bl"><%= @tournament.games[40].info %></td><td class="bl"></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[56].teams[1].n %></td><td></td><td class="br"></td><td></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td></td><td class="bl"></td><td></td><td class="bb bl"><%= @tournament.games[40].teams[1].n %></td>
</tr>
<tr>
  <td class=""></td><td></td><td class="br"></td><td class="bb"><%= @tournament.games[61].info %></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td class="bb"><%= @tournament.games[45].info %></td><td class="bl"></td><td></td><td class=""></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[53].teams[0].n %></td><td></td><td class="br"></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td class="bl"></td><td></td><td class="bb"><%= @tournament.games[37].teams[0].n %></td>
</tr>
<tr>
  <td class="br"></td><td class="bb"><%= @tournament.games[53].info %></td><td class="br"></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td class="bl"></td><td class="bb"><%= @tournament.games[37].info %></td><td class="bl"></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[53].teams[1].n %></td><td class="br"></td><td class="br"></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td class="bl"></td><td class="bl"></td><td class="bb bl"><%= @tournament.games[37].teams[1].n %></td>
</tr>
<tr>
  <td ></td><td class="br"></td><td class="bb br"><%= @tournament.games[60].info %></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td class="bb bl"><%= @tournament.games[44].info %></td><td class="bl"></td><td ></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[52].teams[0].n %></td><td class="br"></td><td></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td></td><td class="bl"></td><td class="bb"><%= @tournament.games[36].teams[0].n %></td>
</tr>
<tr>
  <td class="br"></td><td class="bb br"><%= @tournament.games[52].info %></td><td></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td></td><td class="bb bl"><%= @tournament.games[36].info %></td><td class="bl"></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[52].teams[1].n %></td><td></td><td></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td></td><td></td><td class="bb bl"><%= @tournament.games[36].teams[1].n %></td>
</tr>
<tr>
  <td class=""></td><td></td><td class="division br" COLSPAN="2"><div class="division left">WEST</div><td class="bb br"><%= @tournament.games[63].info %></td><td></td><td></td><td></td><td class="bb bl"><%= @tournament.games[47].info %></td><td class="bl" COLSPAN="2"><div class="division right">SOUTH</div></td><td></td><td class=""></td>
</tr>

<tr>
  <td class="bb"><%= @tournament.games[54].teams[0].n %></td><td></td><td></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td></td><td></td><td class="bb"><%= @tournament.games[38].teams[0].n %></td>
</tr>
<tr>
  <td class="br"></td><td class="bb"><%= @tournament.games[54].info %></td><td></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td></td><td class="bb"><%= @tournament.games[38].info %></td><td class="bl"></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[54].teams[1].n %></td><td class="br"></td><td></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td></td><td class="bl"></td><td class="bb bl"><%= @tournament.games[38].teams[1].n %></td>
</tr>
<tr>
  <td ></td><td class="br"></td><td class="bb"><%= @tournament.games[59].info %></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td class="bb"><%= @tournament.games[43].info %></td><td class="bl"></td><td ></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[51].teams[0].n %></td><td class="br"></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td class="bl"></td><td class="bb"><%= @tournament.games[35].teams[0].n %></td>
</tr>
<tr>
  <td class="br"></td><td class="bb br"><%= @tournament.games[51].info %></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td class="bb bl"><%= @tournament.games[35].info %></td><td class="bl"></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[51].teams[1].n %></td><td></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td></td><td class="bb bl"><%= @tournament.games[35].teams[1].n %></td>
</tr>
<tr>
  <td ></td><td></td><td class="br"></td><td class="bb br"><%= @tournament.games[62].info %></td><td></td><td></td><td></td><td></td><td></td><td class="bb bl"><%= @tournament.games[46].info %></td><td class="bl"></td><td ></td><td></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[55].teams[0].n%></td><td></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td></td><td class="bb"><%= @tournament.games[39].teams[0].n%></td>
</tr>
<tr>
  <td class="br"></td><td class="bb"><%= @tournament.games[55].info %></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td class="bb"><%= @tournament.games[39].info %></td><td class="bl"></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[55].teams[1].n %></td><td class="br"></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td class="bl"></td><td class="bb bl"><%= @tournament.games[39].teams[1].n %></td>
</tr>
<tr>
  <td></td><td class="br"></td><td class="bb br"><%= @tournament.games[58].info %></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="bb bl"><%= @tournament.games[42].info %></td><td class="bl"></td><td></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[50].teams[0].n %></td><td class="br"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="bl"></td><td class="bb"><%= @tournament.games[34].teams[0].n %></td>
</tr>
<tr>
  <td class="br"></td><td class="bb br"><%= @tournament.games[50].info %></td><td></td><td></td><td ></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="bb bl"><%= @tournament.games[34].info %></td><td class="bl"></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[50].teams[1].n %></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="bb bl"><%= @tournament.games[34].teams[1].n %></td>
</tr>

</table>
</div>
