<div class="light">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tournament.name %>
</p>

<p>
  <b>Title:</b>
  <%= @tournament.title %>
</p>
<p>
  <b>User:</b>
  <%= @tournament.user.name unless @tournament.user.nil?%>
</p>
<p>
  <b>Content:</b>
  <%= @tournament.content %>
</p>

<h2>NOT NEEDED?? Current Tags: CHANGE TO BRACKET TAGS!</h2>
<%# @tournament.tags.each do |tag| %>
  <%#= tag.name %> <%#= link_to 'Remove', remove_tournament_tag_path(@tournament,tag), :method => :post %><br/>
<%# end %>

<h2>NOT NEEDED?? Possible Tags:</h2>
<%# @tags.each do |tag| %>
  <%#= link_to tag.name, add_tournament_tag_path(@tournament,tag), :method => :post %><br/>
<%# end %>

<table>
<tr>
  <td class="bb"><%= @tournament.games[0].teams[0].n %></td><td></td><td></td><td></td><td></td>
</tr>
<tr>
  <td class="br"></td><td class="bb"><%= @tournament.games[0].winner.team.n %></td><td></td><td></td><td></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[0].teams[1].n %></td><td class="br"></td><td></td><td></td><td></td>
</tr>
<tr>
  <td></td><td class="br"></td><td class="bb"><%= @tournament.games[8].winner.team.n %></td><td></td><td></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[7].teams[0].n %></td><td class="br"></td><td class="br"></td><td></td><td></td>
</tr>
<tr>
  <td class="br"></td><td class="bb br"><%= @tournament.games[7].winner.team.n %></td><td class="br"></td><td></td><td></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[7].teams[1].n %></td><td></td><td class="br"></td><td></td><td></td>
</tr>
<tr>
  <td class=""></td><td></td><td class="br"></td><td class="bb"><%= @tournament.games[12].winner.team.n %></td><td></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[4].teams[0].n %></td><td></td><td class="br"></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="br"></td><td class="bb"><%= @tournament.games[4].winner.team.n %></td><td class="br"></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[4].teams[1].n %></td><td class="br"></td><td class="br"></td><td class="br"></td><td></td>
</tr>
<tr>
  <td ></td><td class="br"></td><td class="bb br"><%= @tournament.games[11].winner.team.n %></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[3].teams[0].n %></td><td class="br"></td><td></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="br"></td><td class="bb br"><%= @tournament.games[3].winner.team.n %></td><td></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[3].teams[1].n %></td><td></td><td></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class=""></td><td></td><td></td><td class="br"></td><td class="bb"><%= @tournament.games[14].winner.team.n %></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[5].teams[0].n %></td><td></td><td></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="br"></td><td class="bb"><%= @tournament.games[5].winner.team.n %></td><td></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[5].teams[1].n %></td><td class="br"></td><td></td><td class="br"></td><td></td>
</tr>
<tr>
  <td ></td><td class="br"></td><td class="bb"><%= @tournament.games[10].winner.team.n %></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[2].teams[0].n %></td><td class="br"></td><td class="br"></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="br"></td><td class="bb br"><%= @tournament.games[2].winner.team.n %></td><td class="br"></td><td class="br"></td><td></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[2].teams[1].n %></td><td></td><td class="br"></td><td class="br"></td><td></td>
</tr>
<tr>
  <td ></td><td></td><td class="br"></td><td class="bb br"><%= @tournament.games[13].winner.team.n %></td><td></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[6].teams[0].n%></td><td></td><td class="br"></td><td></td><td></td>
</tr>
<tr>
  <td class="br"></td><td class="bb"><%= @tournament.games[6].winner.team.n %></td><td class="br"></td><td></td><td></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[6].teams[1].n %></td><td class="br"></td><td class="br"></td><td></td><td></td>
</tr>
<tr>
  <td></td><td class="br"></td><td class="bb br"><%= @tournament.games[9].winner.team.n %></td><td></td><td></td>
</tr>
<tr>
  <td class="bb"><%= @tournament.games[1].teams[0].n %></td><td class="br"></td><td></td><td></td><td></td>
</tr>
<tr>
  <td class="br"></td><td class="bb br"><%= @tournament.games[1].winner.team.n %></td><td></td><td></td><td></td>
</tr>
<tr>
  <td class="bb br"><%= @tournament.games[1].teams[1].n %></td><td></td><td></td><td></td><td></td>
</tr>
</table>
<%= link_to 'Edit', edit_user_tournament_path(@user,@tournament) %> |
<%= link_to 'Back', user_tournaments_path(@user) %>
</div>
