<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @game.number %>
</p>

<p>
  <b>Tournament:</b>
  <%= @game.tournament %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
