<!DOCTYPE html>
<html>
<head>
  <title>Bracket</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="header">
<ul>
<li>Links: </li>
<li><%= link_to "Home", pages_home_path %></li>
<li>>></li>
<li><%= link_to "Contact", pages_contact_path %></li>
<li>>></li>
<li><%= link_to "About", pages_info_path %></li>
<% unless @user.nil? %>
<li>>></li>
<li><%= link_to "My Brackets", user_path(@user) %></li>
<% end %>
<li>>></li>
<li><%= link_to "Tags", tags_path %></li>
<li>>></li>
<li><%= link_to "Teams", teams_path %></li>
<li>>></li>
<li><%= link_to "Users", users_path %></li>
<li> </li>
</ul>
<br />
</div>
<div class="main-content">
<%= yield %>
</div>
</body>
</html>
